/* Active Button */
.active-button-disable {
    background-color: #adadad !important;
    color: black !important;
}
.active-button{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -75px;
    margin-left: -75px;
    background-color: #e21e26;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: height 250ms linear, width 250ms linear, padding-top 250ms linear, border-radius 250ms linear, margin 250ms linear, opacity 250ms linear;
    cursor:pointer;
    opacity: 1;
    text-decoration: none;
    outline: none !important;
}
.active-button:focus {
    width: 165px;
    height: 165px;
    margin-left: -82px;
    margin-top: -82px;
    opacity: 1;
}
.active-button:hover{
    text-decoration: none;
    color: white;
}
@keyframes pulse {
    from {
        box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px #1d1d1d;
    }
    to {
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 0px 18px rgba(255, 128, 64, 0);
    }
}
@-webkit-keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px #1d1d1d;
    }
    100% {
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 0px 18px rgba(255, 128, 64, 0);
    }
}
@-moz-keyframes pulse {
    from {
        box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px #1d1d1d;
    }
    to {
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 0px 18px rgba(255, 128, 64, 0);
    }
}
@-o-keyframes pulse {
    from {
        box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px #1d1d1d;
    }
    to {
        box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 1), 0px 0px 0px 18px rgba(255, 128, 64, 0);
    }
}
.pulsate {
    box-shadow: 0px 0px 0px -3px rgba(255, 255, 255, 1), 0px 0px 0px 0px #1d1d1d;
    -webkit-animation: pulse 1.5s ease-out 1s infinite forwards;
    -moz-animation: pulse 1.5s ease-out 1s infinite forwards;
    -o-animation: pulse 1.5s ease-out 1s infinite forwards;
    animation: pulse 1.5s ease-out 1s infinite forwards;
}
/* end Active Button */
