/*************************
    Other
*************************/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=latin-ext');
html,body{
    font-family: 'PT Sans';
    height: 100%;
    background-image: white;

}


.full-height {
    height: 100%;
    display: flex;
    flex-flow: column;

}
.full-width {
    max-width: 100% !important;
    width: 100% !important;
}
.full-height > .row {
    display: flex;
    height: 100%;
}

h3{
    text-align: center;
    padding: 20px;
    color: #222;
}
td,th{
    border: 2px dashed #b2c2fd !important;
}

select{
    border: 0;
    height: 100%;
    width: 100%;
    display: block;
    padding: 13px;
    background: transparent;
}
.nopadding{
    padding: 0 !important;
}

#save_btn{
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 31px;
    outline: none;
    position: static;
    bottom: 25px;
    margin: 0;
    width: 100%;
    background: #19be19 !important;
    border: 5px solid #91ed91;
}

#save_btn:hover{
transition: 0.5s;
background: gray !important;
border: 5px solid #a0a0a0;

}