/* 
===============
Other
===============
*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=latin-ext');
*,*:before,*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: 'PT Sans';
	background: white;
	text-shadow: 3px 3px 3px #222;
}
.full-height {
    height: 100%;
    display: flex;
    flex-flow: column;
}
.full-width {
    max-width: 100% !important;
    width: 100% !important;
}
.full-height > .row {
    display: flex;
    height: 100%;
}
/* 
===============
Leader Board 
===============
*/
#leaderboard{
	position:relative;
	width: 100%;
	padding: 20px 50px;
}
#leaderboard ul{
	position:relative;
	list-style: none;
	margin:0;
	padding:0;
}
#leaderboard ul li{
    position:absolute;
    font-size: 40px;
	display:block;
	width:100%;
	padding: 0px 20px;
	line-height: 70px;
	background: linear-gradient(to top,rgb(183, 66, 6) 0%, rgb(236, 109, 11) 100%);
	box-shadow: 3px 3px 5px #000;
	opacity: 1;
	transition: top cubic-bezier(1.000, -0.530, 0.405, 1.425) 3s;
}
#leaderboard ul li a{
	display: inline-block;
	text-decoration: none;
	font-family:  'PT Sans';
	color: white;
}
#leaderboard ul li a:hover{
	text-shadow: 0 0 10px rgb(230,230,255);
}
#leaderboard li span {
	float:right;
	color: aqua;
	font-weight: bold;
	font-size: 50px;
	opacity: 1;
	transition: opacity ease 3s;
}
#leaderboard li span:after {
	content:' PUAN';
	color:white;
	font-size: 20px;
}
#leaderboard .move{

}
#leaderboard .replace{
	animation: replace 2s;
	-webkit-animation: replace 2s;
}
#leaderboard .move span, 
#leaderboard .replace span, 
#leaderboard .move .sort-number, 
#leaderboard .replace .sort-number {
	opacity:0;
}

@keyframes replace
{
	0% {left: -500px;opacity:0;}
	100% {left: 0px;opacity:1;}
}
@-webkit-keyframes replace
{
	0% {left: -500px;opacity:0;}
	100% {left: 0px;opacity:1;}
}
.sort-number{
    display: inline-block;
    color: aqua;
	margin: 0px 10px;
	font-weight: bold;
	opacity: 1;
	transition: opacity ease 3s;
}
#leaderboard ul li {
    background: rgb(55,135,228);
    box-shadow: none;
    border-bottom: 3px solid rgba(3,3,3,0.23) !important;
}

